Checks: '-*,readability-identifier-naming'

CheckOptions:
  - key: readability-identifier-naming.ClassMemberPrefix
    value: 'm_'
  - key: readability-identifier-naming.PrivateClassMemberPrefix
    value: ''
  - key: readability-identifier-naming.ParameterPrefix
    value: '_'